main{
  margin: 0 auto;
}

body {
  background-image: url("https://onisnap.files.wordpress.com/2014/05/reusage-blog-free-texture-paper-light-blue-watercolor-on-napkins.png");
  font-size: 24px;
  font-family: fantasy;
  text-align: center;
}

input{
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  font-size: 22px;
  margin: 10px;
}

ul {
  list-style-type: none;
  width: 400px;
  text-align: center;
  padding: 0px 20px;
  margin: 0px 40px;
}

li {
  padding: 10px;
}

select {
  margin-left: 650px;
  width: 500px;
  height: 50px;
  font-size: 24px;
}

#head {
  display: flex;
  flex-direction: column;
}

#beers {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#beer-name {
  font-size: 30px;
}

.beer-image {
  height: 200px;
}
